{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Arindam's Wiki</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/about_me.css' %}"> 
</head>


<body class="bg-white">
	<div class="container pt-4">
		<div class="row">
			<div class="col col-md-4 col-lg-4">
				<img src="/media/MyLogo.png" class="img-fluid" width="192" height="192">			
			</div>
			<div class="col col-md-8 col-lg-8">
				<h1 class="display-4 mt-4">Arindam 
				<span style="color: #13A1DA">	
				Roychowdhury
				</span>
				</h1>

				<blockquote class="blockquote">
						<p class="lead mt-3">
		  					Quote of the day: "If it ain't fun, don't do it."

							<footer class="blockquote-footer text-center"><cite title="Source Title">Linus Torvalds</cite></footer>
		  				</p>	
		  		</blockquote>
			</div>
	    </div>
	</div>    
	<hr class="hr">
	<div class="container-fluid mt-3">
	    <div class="row">
		    <div class="col col-md-8 col-lg-8">
		      <p class="lead">Hi , I am Arindam. I live in India, Pune and I am a travel enthusiast, a Pythonist, a music afficando, a blessed child and a proud husband. </p>
		      <h1 class="display-4">Life and Career</h1>
		      <p class="lead">
		      	I started my career as a Junior Instrument Engineer in a Paper manufacturing plant in Raipur, Chattisgarh. It was the middle of the job crisis black period year 2008 and I had no option but to make the best of what I got. I think I did well during my 11 month stay . I actually loved the hot chemical aroma filled environment of a paper machine. 
		      </p>	

			   <p class="lead">
		      
		      	I got my first break into the IT world and eventually an IT city in 2009 . This time the credit solely goes to my mother . I had already given up all hopes when my mother dragged 
		      	me to a job fair where for 3 days, more than 15000 people attended it. But I was the only one to make it inside EA Mobiles. No stopping now. For two and a half year, I laboured day and night .

		      	
		      </p>
		      <h5 class="lead">
		      		<strong>Few moments from those days</strong>
		      </h5>	 
		      <div class="polaroid mt-3">
		      	<img src="/media/Me_EA.jpg" class="img-fluid" width="552" height="339">
		      </div>

		      <p class="lead mt-3">
		      	
		      	I got to practise the programmer inside me as a professional in 2012. I joined <strong>bigbasket.com</strong> in Bangalore. The team was small. The office smaller. Yet I loved it. 
		      	Met a lot of geeks, inspiration was overflowing. I sharpened my Python and Computer Science skills and eventually arrived at Pune, Maharashtra. 

		      	I had spend enough time in South India and it was time now to switch to the north . And it was well worth it . I got to take a break from the struggle that kept me awake from 
		      	6 years . I discovered , trekking, travelling , music, life .

		      </p>	
			  <hr class="hr">
		    </div>
		    <div class="col col-md-3 col-lg-3 offset-md-1 text-right card">
		    	<div class="card-body">
		    	      <img width=200 height="auto" class="rounded card-img-top" src="/media/Profile_Me.jpg"></img>
		    	      <ul class="list-group list-group-flush">
		    	      	<li class="list-group-item"><strong>Name</strong>: Arindam Roychowdhury</li>
		    	        <li class="list-group-item"><strong>DOB</strong>: 31 December, 1982</li>
		    	        <li class="list-group-item">
		    	        	<address>
							  	<strong>IFM Enginnering, Pvt Ltd.</strong><br>
							  Pune, Maharashtra<br>
							  India, 411021<br>
							  <abbr title="Phone">Mob:</abbr> (+91) 9739702665
							</address>
						</li>
						<li class="list-group-item">
							<strong>Nationality</strong>: Indian
						</li>
						<li class="list-group-item">
							<strong>Website</strong>: <a href="http://letssolveeverything.blogspot.in">Tech Blog</a>, 
							<a href="http://arindam31.pythonanywhere.com">TravelBlog</a>
						</li>


		    	      </ul>  
		    	</div>      
			 </div> 
	</div>		  
	<div class="container-fluid mt-3">
		
	</div>		    
			</div>
	    </div>
	</div>
</body>
</html>