{% load static %}
<html>
    <head>

        <title>My Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}"> 
    </head>
    <body>
    	<div class="page-header">
        	<form id="searchform" action="{% url 'post_search' %}" method="get">
                <h1><a href="/">The Arc's Blog</a></h1>
                <input class="searchfield" type="text/submit" id="searchbox" placeholder="Search" aria-label="Search" name="keyword">
                <button class="searchbutton" type="submit" value='Search'>Search</button>
            </form>
    	</div>
    	<div class="content container">
        	<div class="row">
            	<div class="col-md-8">
			    	{% block content %}
			    	{% endblock %}
			    </div>	
			</div>
		</div>	

        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
