{% load static %}
<html>
    <head>

        <title>My Blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
        
    </head>
    <body background="#">
    	<div class="container">
            <header class="navbar navbar-default navbar-expand-md">
                <h1 class="navbar-brand">The Ulimate Blog</h1>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <nav class="collapse navbar-collapse justify-content-end" id="navbarPrimary">
                    <ul class ="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Gallery</a>
                        </li>
                    </ul>   
                </nav>
                <form id="searchform" class="form-inline my-2 my-lg-0" action="{% url 'post_search' %}" method="get">
                  <input id="searchbox" name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn my-2 my-sm-0" type="submit" value='Search'>Search</button>
                </form>
            </header>

        	    	{% block content %}
			    	{% endblock %}
			
			
		</div>	

        <!-- jQuery CDN -->
        <script src="js/site.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
