{% extends 'blog/new_blog_base.html' %}
{% load account socialaccount %}
{% load i18n %}

{% block head %}
<title>{{city.title}}</title>
{% endblock %}

{% block content %}
<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-10 col-sm-12">
            <div class="card bg-dark text-white">
                <img class="card-img" src="/media/Pune_City.jpg" alt="Card image">
                <div class="card-img-overlay">
                    <h1 class="card-title"><em>{{ city_post.title }}</em>  <strong>City</strong></h1>
                    <p class="card-text">{{ city_post.intro }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-lg-4 col-xl-2 d-none d-md-block">
            {% if airports %}
                {% for airport in airports %}
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ airport.title }}</div>
                      <div class="card-body">
                        <address>
                        <h5 class="card-title">{{ airport.street }}</h5>
                        <p class="card-text">{{ airport.city }}{{ airport.Pincode }}</p>
                        </address>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if stations %}
                {% for station in stations %}
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                      <div class="card-header">{{ station.title }}</div>
                      <div class="card-body">
                        <address>
                        <h5 class="card-title">{{ station.street }}</h5>
                        <p class="card-text">{{ station.city }}{{ station.Pincode }}</p>
                        </address>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>
<div class="container-fluid">




    {% if day_plans %}
    	{% for plan in day_plans %}
    		{{ plan }}
    	{% endfor %}
    {% endif%}

    {% if must_see %}
        {% for point in must_see %}
    	   {{ point }
        {% endfor %}
    {% endif %}

    {% if must_try %}
    {% for cuisine in must_try %}
    	{{ cuisine }}
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
