{% extends 'blog/new_blog_base.html' %}

	{% block head %}
	<title>My Blog</title>
	{% endblock %}

{% block content %}
	<section id="featured" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#featured" data-slide-to="0" class="active"></li>
		    <li data-target="#featured" data-slide-to="1"></li>
		    <li data-target="#featured" data-slide-to="2"></li>
  		</ol>
		<div class="carousel-inner">
	        <div class="carousel-item active">
			    <img src="media/Ravensberg_germany.jpg">
		    </div>	    
			<div class="carousel-item">
			    <img src="media/AruVally.png">
		    </div>
			<div class="carousel-item">
			    <img src="media/Me_Kashmir.jpg">
		    </div>
		</div>
	</section>

	<section class="row">
		<div class="col-lg-4 profile-info">
			<img class="float-left" src="media/Profile_Me.jpg" alt="Me in Photo">
			<h2>Arindam Roychowdhury</h2>
			<p>Pune , India</p>
		</div>
		<div class="col-lg-5">
			<p>Hi, I am Arindam. I love coding , blogging and web apps designing.</p>
		</div>
	</section>
	
	<section class="gallery d-flex flex-wrap">
		{% for post in fav_posts %}
			<a href="{% url 'post_details' post.pk post.slug %}"><img src={{ post.first_image }}>{{ post.title }}</a>
		{% endfor %}
	</section>

{% endblock %}
