{% extends 'blog/new_blog_base.html' %}

	{% block head %}
	<title>My Blog</title>
	{% endblock %}

{% block content %}

<div class="text-center">
	<div class="cover-container pb-5">
		<div class="cover-inner container">
			<h1 class="jumbotron-heading">Welcome to <em>The Bong Travellers</em>  <strong>stories</strong></h1>
			<p class="lead">Discover amazing locations and secret tips......</p>
						<!-- Add more p tags to add more text -->

		</div>
	</div>
</div>

<section class="Me_Intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 profile-info">
				<img class="float-left" src="media/Profile_Me.jpg" alt="Me in Photo">
				<h2>Arindam Roychowdhury</h2>
				<p>Pune , India</p>
			</div>
			<div class="col-lg-5">
				<p>Hi, I am Arindam. I love coding , blogging and web apps designing.</p>
			</div>
		</div>
	</div>
</section>


<div class="container">
	<h1 class="display-4 mt-4">Favourite
				<span style="color: #13A1DA">
				Posts
				</span>
				</h1>
	<section class="gallery d-flex flex-wrap">

			{% for post in fav_posts %}
				<a href="{% url 'post_details' post.pk post.slug %}"><img src={{ post.first_image }}>{{ post.title }}</a>
			{% endfor %}
	</section>
</div>
<br>
<br>
<br>

<section class="Level_2">
		<div class="container">
		  <div class="row">
		    <div class="col-md-8">
		    	<h1 class="lead display-4">{{ latest_post.title }}</h1>
		    	<img class="img-fluid mb-1" src={{ latest_post_image }}>
		    	<p>{{ latest_post.short_intro }}</p>
				<p class="lead">Created On: {{latest_post.created_date}}</p>
				<a class="btn btn-primary" role="button" href="{% url 'post_details' latest_post.pk latest_post.slug  %}">Read it</a>

		    </div>

		    <div class="col-md-3  offset-md-1">
		      <section>
		      	<div class="row">
		      	{% for post in fav_posts %}
		      	<div class="img-thumbnail my-2">
			      	<img width="100%" src={{ post.first_image }}>
					<a href="{% url 'post_details' post.pk post.slug %}">
					{{ post.title }}</a>
				</div>
				{% endfor %}
				</div>

			</section>
		    </div>
		  </div>
		</div>
</section>


{% endblock %}
