{% extends 'blog/new_blog_base.html' %}

	{% block head %}
	<title>My Blog</title>
	{% endblock %}

{% block content %}

<section class="Me_Intro">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 profile-info">
				<img class="float-left" src="media/Profile_Me.jpg" alt="Me in Photo">
				<h2>Arindam Roychowdhury</h2>
				<p>Pune , India</p>
			</div>
			<div class="col-lg-5">
				<p>Hi, I am Arindam. I love coding , blogging and web apps designing.</p>
			</div>
		</div>	
	</div>
</section>



<div class="container">
<section class="gallery d-flex flex-wrap">
	
		{% for post in fav_posts %}
			<a href="{% url 'post_details' post.pk post.slug %}"><img src={{ post.first_image }}>{{ post.title }}</a>
		{% endfor %}
</section>
</div>
<br>
<br>
<br>

<section class="Level_2">
		<div class="container">
		  <div class="row">
		    <div class="col-md-9">
		    	<h1>{{ latest_post.title }}</h1>
		    	<p>{{latest_post.text | safe | linebreaksbr | slice:":10000" }}</p>
				<p>Created On: {{latest_post.created_date}}

		    </div>

		    <div class="col-md-3">
		      <section>
		      	<div class="row">
		      		<div class="img-thumbnail">
		      	{% for post in fav_posts %}
		      	<img width="100%" src={{ post.first_image }}>
				<a href="{% url 'post_details' post.pk post.slug %}">
				{{ post.title }}</a>
				{% endfor %}
			</div>
			</div>
				
			</section>
		    </div>
		  </div>
		</div>
</section>


{% endblock %}