{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% block head %}
	{% endblock %}

</head>

<body>
	<section class="text-center">
    	<nav id="sitenav" class="navbar fixed-top navbar-expand-lg navbar-trans navbar-inverse nav-down"">
    		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" 		aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
		  <a class="navbar-brand text-primary" href="#">TheBongTraveller</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{% url 'about_me' %}">About Me</a>
		      </li>
		      <li class="nav-item dropdown">
		        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		          Travel Tools
		        </a>
		        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
		          <a class="dropdown-item" href="#">Travel Planner</a>
		          <a class="dropdown-item" href="#">Gallery</a>
		        </div>
		      </li>
		    </ul>

		    <form id="searchform" class="form-inline my-2 my-lg-0" action="{% url 'post_search' %}" method="get">
		      <input class="form-control mr-sm-2" type="search" placeholder="Enter Keyword" aria-label="Search" id="searchbox" name="keyword">
		      <button value='Search' class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
		<br>
		<br>
		<br>

	</section>
	{% block content %}
	{% endblock %}

	<div id="siteFooter" style="height: 210px;width:100%;background-color: #13A1DA" class="graduating_blue my-4">
        <div class="container-fluid mt-5">
	        <div class="row">
	            <br>
	              <div class="col-md col-xl text-center">
	                  <br>
	                  <h4>Contact Us</h4>
	                  <p>Know all about us</p>
	              </div>
	              <div class="col-md col-xl text-center">
	                  <br>
	                  <h4>Travel Plans 2018</h4>
	                  <p>Whats the plan this year?.</p>
	              </div>
	              <div class="col-md col-xl text-center">
	                  <br>
	                  <h4>Travel Map</h4>
	                  <p>See all the places covered by us</p>
	              </div>
	        </div>
	        <p class="text-center">
	            	Copyright 2018
	        </p>
	        
	    </div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'js/myJS.js' %}"></script>
<script src="{% static 'js/site.js' %}"></script>
</body>
