{% extends 'blog/new_blog_base.html' %}
{% block content %}
    <div class="container mb-4">
    {% if posts %}
        <div class="card-deck">
        {% for post in posts %}

            <div class="card">
		        {% if post.get_images_from_post_description %}
                    <img class="card-img-top" src={{ post.get_images_from_post_description }}>
                {% endif %}
                <h1 class="card-title">{{ post.title }}</h1>
                <p class="card-text">{{ post.short_intro }}</p>
                <p class="lead">Created On: {{ post.created_date }}</p>
                <a class="btn btn-primary" role="button" href="{% url 'post_details' post.pk post.slug  %}">Read it</a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}



