{% extends 'blog/new_blog_base.html' %}
{% block content %}
    <div class="container mb-4">
    {% if posts %}


        {% for post in posts %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="row">
                <div class="card-deck">
            {% endif %}

            <div class="card">
		      {% if post.get_images_from_post_description %}
                <img class="card-img-top" src={{ post.get_images_from_post_description }}>
              {% endif %}
                <div class="card-body">
                    <h1 class="card-title mx-1">{{ post.title }}</h1>
                    <p class="card-text mx-1">{{ post.short_intro }}</p>
                    <p class="lead mx-1">Created On: {{ post.created_date }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" role="button" href="{% url 'post_details' post.pk post.slug  %}">Read it</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"3" %}
                </div><!-- This is the end of row -->
                </div><!-- This is the end of card-deck -->
                <br>
            {% endif %}

        {% endfor %}
    {% else %} <!-- If no results were returned -->
        <div class="text-center">
            <div class="container  d-flex w-100 h-100 p-3 mx-auto flex-column">

                <main role="main">
                        <h1 class="cover-heading error_heading">OOPS ! No result found !!!!</h1>
                        <p class="lead">
                        <h3>The keyword used, fetched no results. May be you would like to read a story from below list. </h3></p>
                        <p class="lead">
                          <a href="{% url 'home' %}" class="btn btn-lg btn-secondary">Let's go Home</a>
                        </p>
                 </main>
            </div>
        </div>
        {% for post in all_posts %}
            {% if forloop.counter0|divisibleby:"3" %}
                <div class="row">
                <div class="card-deck">
            {% endif %}

            <div class="card">
              {% if post.get_images_from_post_description %}
                <img class="card-img-top" src={{ post.get_images_from_post_description }}>
              {% endif %}
                <div class="card-body">
                    <h1 class="card-title mx-1">{{ post.title }}</h1>
                    <p class="card-text mx-1">{{ post.short_intro }}</p>
                    <p class="lead mx-1">Created On: {{ post.created_date }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" role="button" href="{% url 'post_details' post.pk post.slug  %}">Read it</a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"3" %}
                </div><!-- This is the end of row -->
                </div><!-- This is the end of card-deck -->
                <br>
            {% endif %}

        {% endfor %}

    {% endif %}
    </div>
{% endblock %}



