{% extends 'blog/base.html' %}
{% load account socialaccount %}
{% load i18n %}

{% block content %}

<h1>{{post.title}}</h1>

{% if request.user.is_authenticated or request.user.is_staff %}
	<p><a href="{% url 'post_edit' post.pk %}" class="btn btn-info" imgrole="button">Edit POST</a></p>
{% endif %}
<p>{{post.text | safe | linebreaksbr }}</p>
<p>Created On: {{post.created_date}}

<div id="like_count">
	<p>No of Likes : {{ post.likes }}</p>
</div>

<button data-catid="{{post.id}}" id="likes"  class="btn btn-primary"><img src="/media/hand3.png"></button>

<br>
<br>

{% get_providers as socialaccount_providers %}

<p>-----------------------------------------</p>

{% user_display user %}
<br>

{% user_display user as user_display %}
{% blocktrans %}{{ user_display }} has logged in...{% endblocktrans %}
<p>-----------------------------------------</p>

{% if socialaccount_providers %}
	<p>{% blocktrans with site.name as site_name %} Please sign in with one
	of your existing third party accounts.
	Or, <a href="{{ signup_url }}">sign up</a>
	for a {{ site_name }} account and sign in below:
	{% endblocktrans %}</p>
{% endif %}


{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}"
     class="socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process next="{{ next }}" %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}

<li>
  <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
</li>
{% endfor %}


<form method="POST" action="{% url 'comment_create' post_pk=post.pk %}">
	<div class="form-group">
		{% csrf_token %}
		{{ form_comment.as_p }}
	</div>
	<div class="form-group">
	{% if request.user.is_authenticated %}
		<a href="/accounts/logout/">Logout</a>
		<button type="submit"  class="btn btn-primary">Post Comment</button>
	{% endif %}
	</div>
</form>

<h1>Comments [{{ post.comments.count }}]</h1>

<hr class="hr">
	{% for comment in post.comments.all %}
	{% if comment.approve_comment %}
		<div class="comment">
			<div class="date">
				{{ comment.created_date }}
			</div>
			<strong>{{comment.post.author}}</strong>
			<p>{{ comment.detail|linebreaks }}</p>
		</div>
	{% endif %}
	{% empty %}
    	<p>No comments here yet :(</p>
    {% endfor %}


<script type="text/javascript">
//var body = document.getElementById('webBody');
//body.setAttribute("background", "/media/Aru_Valley.jpg");
</script>
{% endblock %}
