{% extends 'blog/base.html' %}
{% block content %}
    {% if posts %}
        {% for post in posts %}
            <div class="post">
		    <h1><a href="{% url 'post_details' post.pk %}">{{ post.title }}</a> </h1>
                <p>{{ post.text| safe | truncatewords:"50" | linebreaksbr }} </p>
                <p><strong>{{ post.author }}</strong></p>
                <div class="date">
                    <p><strong>{{ post.created_date }}</strong></p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
