{% extends 'blog/base.html' %}
{% block content %}
<h1>{{post.title}}</h1>
{% if request.user.is_authenticated or request.user.is_staff %}
	<p><a href="{% url 'post_edit' post.pk %}" class="btn btn-info" imgrole="button">Edit POST</a></p>
{% endif %}
<p>{{post.text | safe | linebreaksbr }}</p>
<p>Created On: {{post.created_date}}

<div id="like_count">
	<p>No of Likes : {{ post.likes }}</p>
</div>

<button data-catid="{{post.id}}" id="likes"  class="btn btn-primary"><img src="/media/hand3.png"></button>

<br>
<br>

<form>
	<div id="commentBox" class="form-group">
		<input class="form-control input-lg" type="text" name="commentbox">
	</div>
	<div class="form-group">
	{% if request.user.is_authenticated %}
		<button class="btn btn-primary">Post Comment</button>
	{% else %}
		<button class="btn btn-primary">Login</button>
	{% endif %}
	</div>
</form>

<h1>Comments [{{ post.comments.count }}]</h1>

<hr class="hr">
	{% for comment in post.comments.all %}
	{% if comment.approve_comment %}
<div class="comment">
	<div class="date">
		{{ comment.created_date }}
	</div>
	<p>{{ comment.detail|linebreaks }}</p>
	{% endif %}
	{% endfor %}

</div>

<script type="text/javascript">
//var body = document.getElementById('webBody');
//body.setAttribute("background", "/media/Aru_Valley.jpg");
</script>
{% endblock %}
