body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #46484a;
}
a  {
  color: #000000;
   }

  .cover {
  background: #2b2d34 url(media/when-the-sun-goes-down.jpg) center;
  background-size: cover;
  min-height: 50rem;
  height: auto;
  border-radius: 0;
  width: 100%;
  color: #fff;
  padding-top: 1rem;
   }
